.feature{
    display:flex;
    gap:20px;
    margin-top:20px;
    }
    
    .feature-box{
    flex:1;
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
    }
    
    .feature-box h3{
    margin:10px 0;
    }